@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<div class="text-center">
    <p>
       <h2 style="text-align:center;color:#800040"> About Us</h2>
We constantly challenge ourselves to bring new ideas and
solutions to help IT companies succeed 
in a changing business environment.

       <h2 style="text-align:center;color:#800040"> The Innovation Race</h2>
Antra started its services in the year 2008, since then we have been diligently serving every need of our clients professional and software solutions. With our unique amalgam of innovation and inspiration, backed by Agile processes, we deliver world-class services with our core values to our clients. We identify unique strategies to transforming organizations through picking their sweet spot for innovative thinking and helping them in implementing in-depth cultural shift; ultimately augmenting the innovation
process to the next level – fostering the innovation race that never ends.
    </p>
</div>
<div>
    <p>
        <h2 style="text-align:center;color:#800040">What we do?</h2>
Businesses have a significant gap between adapting to 
modern technologies and business enablement to support its growth.
At Antra, we provide unique solutions with all the strategic elements to bridge
this gap between technology and business.
Antra brings industry-specific technological expertise among the full range of
IT services in a cost-effective manner by a combination of technical knowledge
and business savviness.</p>
</div>
<div>
    <p>
        <h2 style="text-align:center;color:#800040">Why Us?</h2>
Our customer-centric model and gratitude are what makes our company grow. 
In Antra, we quickly adapt ourselves to the evolving
technology and business world to keep up with the escalating competition.

We work with the industry’s best and have helped them 
achieve success. We have a team of skilled resources who 
can understand your requirements and help you achieve your business goals.</p>
</div>
