@{
    ViewData["Title"] = "Antra Inc ";
}

<div class="text-center">
    
    <p>
        <div align="center">
            <img src="~/Images/Screenshot (84).png" width="800" height="400" />
        </div>
   <h2 style="text-align:center;color:#800040">Our Solutions</h2>
Antra’s services address critical gaps to bring businesses’ industry-specific
technological expertise in a full range of IT services and workforce solutions.
Our one of the biggest domain expertise includes Information technology,
which efficiently enhances the speed of productivity in this present-day work environment.
We combine this modern technology, knowledge & business savviness to enhance our clients’
IT capabilities in a cost effective manner. Be IT tech consulting, business advisory or
professional services; Antra’s unique strategy
and approach will make the job done at a significantly low-cost budget.</p></div>
<div>
        <p>
            <h2 style="color:#800040">Business Advisory Services</h2>
Our business advisory services assist our clients to align IT capabilities with their
business needs to drive growth and productivity. Hence deriving a greater value from IT!
We continually seek better ways of collaborating with our clients, 
work more cohesively to understand their business issues.
        </p>
    <div>
        <p>
            <h2 style="color:#800040">Technology Services</h2>
Harness the power of emerging technologies while leveraging most out of the legacy IT. Antra offers full spectrum of technology services for business to achieve its business goals .Our differentiation starts with core fundamental elements required for your technology enablement.
        </p>
    </div>
    <div>
        <p>
           <h2 style="color:#800040"> Professional Services</h2>
Our motto is to bridge skill gap, and foster on agile technologies to support growth of various organizations! Antra’s full range of workforce solutions and service delivery models equips our clients with the right people, skills and competencies required to get IT done.
        </p>
    </div>
</div>
