@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@model IEnumerable<InterView.Models.MCQsQuestions>
@{
    ViewData["Title"] = "Result";
}
<form method="post" asp-action="Logout">

@*<h1 style="color:#800040">Test Result</h1>

<p>Your score is: <strong><h2>@TempData["Score"]</h2></strong></p>
*@
<h3>Thank You For Attending Test!</h3>
<button class="btn btn-danger " type="submit">Logout</button>
</form>